<h1>Event Listeners</h1>
<p>In native javascript, event handling takes the form of 'addEventListener' and 'removeEventListener'</p>
<pre>
const btn1 = document.querySelector('#click_me1');
let count1 = 0;
const fn1 = (e) => &#123;
  btn1.textContent = `CLICKED $&#123;++count1&#125; TIMES`;
&#125;;
btn1.addEventListener('click', fn1);
</pre>
<p>
	<button id="click_me1">CLICK ME</button>
</p>
<p>When removing event listeners, the handler being removed has to be the EXACT same handler, by reference.</p>
<p>This example creates an anonymous function and saves the reference to it as 'fn2'</p>
<pre>
const btn2 = document.querySelector('#click_me1');
let count2 = 0;
const fn2 = (e) => &#123;
  btn2.textContent = `CLICKED $&#123;++count2&#125; TIMES`;
&#125;;
btn2.addEventListener('click', fn2);
btn2.removeEventListener('click', fn2);
</pre>
<p>
	<button id="click_me2">CLICK ME</button>
</p>
<p>This example is 'removing' an event listener, but the handler is a newly created method. The original handler is
	never actually removed.</p>
<pre>
const btn3 = document.querySelector('#click_me3');
let count3 = 0;
btn3.addEventListener(
  'click',
  (e) => &#123;
	btn3.textContent = `CLICKED $&#123;++count3&#125; TIMES`;
  &#125;
);
btn3.removeEventListener(
  'click',
  (e) => &#123;
	btn3.textContent = `CLICKED $&#123;++count3&#125; TIMES`;
  &#125;
);
</pre>
<p>
	<button id="click_me3">CLICK ME</button>
</p>
<p>An ajax call via an XmlHttpRequest is a bit more complicated.  Both a 'load' and an 'error' event is needed.</p>
<div class="flex-column">
	<pre>
function GetXHR(url, success, error?) &#123;
  const xhr = new XMLHttpRequest();
  xhr.addEventListener('load', (evt) => &#123;
	if (xhr.status === 200) &#123;
	  success(xhr.responseText);
	&#125; else if (error) &#123;
	  error(xhr.responseText);
	&#125;
  &#125;);
  xhr.addEventListener('error', (evt) => &#123;
	if (error) &#123;
	  error(xhr.responseText);
	&#125;
  &#125;);
  xhr.open('GET', url, true);
  xhr.send();
&#125;

const btn4 = document.querySelector('#test_xhr') as HTMLButtonElement;
const pre4 = document.querySelector('#xhr_result');
btn4.addEventListener('click', (e) => &#123;
  btn4.disabled = true;
  pre4.textContent = 'PROCESSSING ...';
  GetXHR('https://cs8.scorpion.co/oauth/test', (data) => &#123;
	btn4.disabled = false;
	pre4.textContent = data;
  &#125;);
&#125;);
	</pre>
	<pre id="xhr_result">
	
	</pre>
</div>
<p>
	<button id="test_xhr">CLICK ME</button>
</p>
<p class="flex-column">
	<a routerLink="/"><strong>Back to Start</strong></a>
	<a routerLink="/promises"><strong>PART 2</strong> - Promises</a>
</p>