<h1>Pipes</h1>
<p>The RxJS library supplies a 'pipe' method with any observable.</p>
<p>Since an observable is emitting data, 'pipe' allows you to affect the data that is being emitted.</p>
<p>One can:</p>
<ol>
	<li>Filter the data so that only some types of data are emitted.</li>
	<li>Alter the data before it is emitted.</li>
	<li>Change the data to a complete different type</li>
	<li>And many</li>
	<li>Many</li>
	<li>Many</li>
	<li>Many</li>
	<li>Other</li>
	<li>Things</li>
</ol>
<p>Arguably, pipes are the most complicated AND the most powerful aspects of observables.</p>
<p>It's important to note that when you pipe an observable, you're making a NEW OBSERVABLE.</p>
<p>Once could subscribed to the original observable and get different results than subscribing to the piped observable.</p>
<p>Filter example:</p>
<div class="flex-column">
	<pre>
const obs1 = <strong>from</strong>([1, 2, 3, 4, 5]).pipe(<strong>filter</strong>(<em>num => num % 2 === 0</em>));
const btn1 = document.querySelector('#click_me1');
const res1 = document.querySelector('#result1');
btn1.addEventListener('click', (e) => &#123;
  res1.textContent = 'OBSERVING';
  const onNext = (n) => &#123;
	res1.textContent += '\n' + `OBSERVED: $&#123;n&#125;`;
  &#125;;
  const onError = (e) => &#123;
	alert('ERROR');
  &#125;;
  const onComplete = () => &#123;
	res1.textContent += '\nCOMPLETE';
  &#125;;
  obs1.subscribe(onNext, onError, onComplete);
&#125;);

const clear1 = document.querySelector('#clear1');
clear1.addEventListener('click', (e) => &#123;
  res1.textContent = '';
&#125;);
	</pre>
	<pre id="result1"></pre>
</div>
<p>
	<button id="click_me1">CLICK ME</button>
	&nbsp;
	<button id="clear1">CLEAR LOG</button>
</p><p>Map example:</p>
<div class="flex-column">
	<pre>
const obs2 = <strong>from</strong>([1, 2, 3, 4, 5]).pipe(<strong>map</strong>(<em>num => num * 2</em>));
const btn2 = document.querySelector('#click_me2');
const res2 = document.querySelector('#result2');
btn2.addEventListener('click', (e) => &#123;
  res2.textContent = 'OBSERVING';
  const onNext = (n) => &#123;
	res2.textContent += '\n' + `OBSERVED: $&#123;n&#125;`;
  &#125;;
  const onError = (e) => &#123;
	alert('ERROR');
  &#125;;
  const onComplete = () => &#123;
	res2.textContent += '\nCOMPLETE';
  &#125;;
  obs2.subscribe(onNext, onError, onComplete);
&#125;);

const clear2 = document.querySelector('#clear2');
clear2.addEventListener('click', (e) => &#123;
  res2.textContent = '';
&#125;);
	</pre>
	<pre id="result2"></pre>
</div>
<p>
	<button id="click_me2">CLICK ME</button>
	&nbsp;
	<button id="clear2">CLEAR LOG</button>
</p><p>First example:</p>
<div class="flex-column">
	<pre>
const obs3 = <strong>from</strong>([1, 2, 3, 4, 5]).pipe(<strong>first</strong>());
const btn3 = document.querySelector('#click_me3');
const res3 = document.querySelector('#result3');
btn3.addEventListener('click', (e) => &#123;
  res3.textContent = 'OBSERVING';
  const onNext = (n) => &#123;
	res3.textContent += '\n' + `OBSERVED: $&#123;n&#125;`;
  &#125;;
  const onError = (e) => &#123;
	alert('ERROR');
  &#125;;
  const onComplete = () => &#123;
	res3.textContent += '\nCOMPLETE';
  &#125;;
  obs3.subscribe(onNext, onError, onComplete);
&#125;);

const clear3 = document.querySelector('#clear3');
clear3.addEventListener('click', (e) => &#123;
  res3.textContent = '';
&#125;);
	</pre>
	<pre id="result3"></pre>
</div>
<p>
	<button id="click_me3">CLICK ME</button>
	&nbsp;
	<button id="clear3">CLEAR LOG</button>
</p>
<p class="flex-column">
	<a routerLink="/observables"><strong>PART 4</strong> - Observables</a>
	<a routerLink="/subjects"><strong>PART 6</strong> - Subjects</a>
</p>