<h1>PART 5 - Pipes</h1>
<p>The RxJS library supplies a 'pipe' method with any observable.</p>
<p>Since an observable is emitting data, 'pipe' allows you to affect the data that is being emitted.</p>
<p>One can:</p>
<ol>
	<li>Filter the data so that only some types of data are emitted.</li>
	<li>Alter the data before it is emitted.</li>
	<li>Change the data to a complete different type</li>
	<li>And many</li>
	<li>Many</li>
	<li>Many</li>
	<li>Many</li>
	<li>Other</li>
	<li>Things</li>
</ol>
<p>Arguably, pipes are the most complicated AND the most powerful aspects of observables.</p>
<p>It's important to note that when you pipe an observable, you're making a NEW OBSERVABLE.</p>
<p>Once could subscribe to the original observable and get different results than subscribing to the piped observable.</p>
<p><strong>pipe(filter)</strong> example:</p>
<div class="flex-column">
	<pre>
const obs1 =
  <strong>from</strong>([1, 2, 3, 4, 5])
  .pipe(<strong>filter</strong>(<em>num => num % 2 === 0</em>));

const btn1 = document.querySelector('#click_me1');
const res1 = document.querySelector('#result1');
btn1.addEventListener('click', (e) => &#123;
  res1.textContent = 'OBSERVING';
  obs1.subscribe((n) => &#123;
    res1.textContent += '\n' + `OBSERVED: $&#123;n&#125;`;
  &#125;);
&#125;);
	</pre>
	<pre id="result1"></pre>
</div>
<p>
	<button id="click_me1">CLICK ME</button>
	&nbsp;
	<button id="clear1">CLEAR LOG</button>
</p><p><strong>pipe(map)</strong> example:</p>
<div class="flex-column">
	<pre>
const obs2 =
  <strong>from</strong>([1, 2, 3, 4, 5])
  .pipe(<strong>map</strong>(<em>num => num * 2</em>));

const btn2 = document.querySelector('#click_me2');
const res2 = document.querySelector('#result2');
btn2.addEventListener('click', (e) => &#123;
  res2.textContent = 'OBSERVING';
  obs2.subscribe((n) => &#123;
    res2.textContent += '\n' + `OBSERVED: $&#123;n&#125;`;
  &#125;);
&#125;);
	</pre>
	<pre id="result2"></pre>
</div>
<p>
	<button id="click_me2">CLICK ME</button>
	&nbsp;
	<button id="clear2">CLEAR LOG</button>
</p><p><strong>pipe(first)</strong> example:</p>
<div class="flex-column">
	<pre>
const obs3 =
  <strong>from</strong>([1, 2, 3, 4, 5])
  .pipe(<strong>first</strong>());

const btn3 = document.querySelector('#click_me3');
const res3 = document.querySelector('#result3');
btn3.addEventListener('click', (e) => &#123;
  res3.textContent = 'OBSERVING';
  obs3.subscribe((n) => &#123;
    res3.textContent += '\n' + `OBSERVED: $&#123;n&#125;`;
  &#125;);
&#125;);
	</pre>
	<pre id="result3"></pre>
</div>
<p>
	<button id="click_me3">CLICK ME</button>
	&nbsp;
	<button id="clear3">CLEAR LOG</button>
</p>
<p class="flex-column">
	<a routerLink="/observables"><strong>PART 4</strong> - Observables</a>
	<a routerLink="/subjects"><strong>PART 6</strong> - Subjects</a>
</p>